div[ui-sref]:hover {
  color: red;
  font-weight: bold;
  border: 1px solid #000;
  cursor: pointer;
  display: inline;
  padding: 5px;
}
div[ui-sref]{
  margin: 0 20px;;
}
#main-content{
  margin: 20px;
}
#subTitle{
  color: red;
}
